 {% extends "base.html" %} {% load static %} {% block content %}
<div class="breadcrumb-banner-area ptb-120 bg-opacity" style="background-image:url({% static 'assets/img/bg/6.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>about us</h2>
                    <p>Asco-ltd</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- about-area-start -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-wrapper">
                    <div class="about-text">
                        <h2>
                            <span>More years</span> of experience in this business.</h2>
                        <h4>Contrary to popular belief, Lorem Ipsum is not sim.</h4>
                        <p>we make sure we do what you want in the way you want it and 
                            we respect time you need your item
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="about-right-wrapper" style="background-image:url({% static 'assets/img/bg/7.png' %})">
                    <div class="about">
                        <div class="about-right-text">
                            <div class="about-right-img">
                                <img src="{% static 'assets/img/about/1.png' %}" alt="" />
                            </div>
                            <div class="about-content">
                                <h2>24/7 Services</h2>
                            </div>
                        </div>
                        <div class="about-right-text">
                            <div class="about-right-img">
                                <img src="{% static 'assets/img/about/2.png' %}" alt="" />
                            </div>
                            <div class="about-content">
                                <h2>Affordable Price</h2>
                            </div>
                        </div>
                        <div class="about-right-text">
                            <div class="about-right-img">
                                <img src="{% static 'assets/img/about/3.png' %}" alt="" />
                            </div>
                            <div class="about-content">
                                <h2>Professional HandyMan</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->

<!-- counter-2-area-end -->
<!-- team-area-start -->
<div class="team-area pt-110 pb-90">
    <div class="container">
        <div class="section-info text-center mb-65">
            <h2>Team Member</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and. </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="about-us.html#">
                            <img src="{% static 'assets/img/team/1.png' %}" alt="" />
                        </a>
                        <div class="team-text text-center">
                            <h3>Franziska Schmitt</h3>
                            <span>Electrician</span>
                            <div class="team-icon">
                                <a href="about-us.html#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-vimeo"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="about-us.html#">
                            <img src="{% static 'assets/img/team/2.png' %}" alt="" />
                        </a>
                        <div class="team-text text-center">
                            <h3>Franziska Schmitt</h3>
                            <span>Electrician</span>
                            <div class="team-icon">
                                <a href="about-us.html#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-vimeo"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="about-us.html#">
                            <img src="{% static 'assets/img/team/3.png' %}" alt="" />
                        </a>
                        <div class="team-text text-center">
                            <h3>Franziska Schmitt</h3>
                            <span>Electrician</span>
                            <div class="team-icon">
                                <a href="about-us.html#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-vimeo"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="about-us.html#">
                            <img src="{% static 'assets/img/team/4.png' %}" alt="" />
                        </a>
                        <div class="team-text text-center">
                            <h3>Franziska Schmitt</h3>
                            <span>Electrician</span>
                            <div class="team-icon">
                                <a href="about-us.html#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-vimeo"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="about-us.html#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area-start -->
<!-- action-area-start -->
<div class="action-area bg-opacity ptb-110" style="background-image:url({% static 'assets/img/bg/7.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="action-wrapper">
                    <div class="action-text">
                        <h2>We provide professional services with an amazing team. </h2>
                        <a href="about-us.html#">get a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- action-area-end -->
<!-- brand-area-start -->
<div class="brand-area ptb-120">
    <div class="container">
        <div class="section-info text-center mb-70">
            <h2>Our Clients</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and. </p>
        </div>
        <div class="row">
            <div class="brand-active owl-carousel">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-img">
                            <img src="{% static 'assets/img/brand/1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-img">
                            <img src="{% static 'assets/img/brand/2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-img">
                            <img src="{% static 'assets/img/brand/3.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-img">
                            <img src="{% static 'assets/img/brand/4.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-img">
                            <img src="{% static 'assets/img/brand/1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-img">
                            <img src="{% static 'assets/img/brand/4.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->

 {% endblock %}