{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asco-ltd </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://devitems.com/preview/hmend/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->


    <!-- all css here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body >
    <header class="">
        <!-- header-top-area-start -->
        <div class="header-top-area blue-bg" style="color:rgb(3, 25, 97)">
            <div class="container" style="color:rgb(3, 25, 97)">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 site-branding col-xs-12" style="color:rgb(3, 25, 97)">
                        <div class="header-logo">
                            <a href="index.html">
                                <img src="{% static 'assets/img/logo/1.png' %}" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-9 hidden-xs">
                        <div class="header-left">
                            <div class="header-text" style="color:rgb(3, 25, 97)">
                                <div class="header-icon">
                                    <i class="fa fa-phone"></i>
                                    <i class="paint-roller"></i>
                                </div>
                                <div class="header-info">
                                    <span class="phone">+250-787165-015</span>
                                    <span class="gmail">aime.thierry97@gmail.com</span>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 hidden-sm col-xs-12">
                        <div class="header-left-icon">
                            <a href="index.html#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-vimeo"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-tumblr"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-start -->
        <div id="header-sticky" class="main-menu-area gray-bg " style="color:rgb(3, 25, 97)">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-10 col-md-8  col-xs-7">
                        <div class="main-menu" style="color:rgb(3, 25, 97)">
                            <nav>
                                <ul>
                                    <li class="active">
                                        <a href="/">home</a>
                                    
                                    </li>
                                    <li>
                                        <a href="/about">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/service">service</a>
                                    </li>
                                    <!-- <li>
                                        <a href="/project">projects</a>
                                    </li>
                                 -->
                                    <li>
                                        <a href="/contact">contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class=" col-lg-2 col-md-4 col-xs-12">
                        <div class="make-appointment">
                            <img src="{% static 'assets/img/logo/2.png' %}" alt="" />
                            <a href="">make appointment</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-end -->
    </header>
    <!-- header-top-area-start -->
 {% block content %}

 {% endblock %}
    <!-- blog-area-start -->
    <footer style="color:rgb(5, 5, 117)">
        <!-- footer-top-area-start -->
        <div class="footer-top-area gray-bg pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 pr-0">
                        <div class="footer-wrapper mb-30">
                            <h2 class="footer-section">about us</h2>
                            <div class="footer-text">
                                <p>Asco-ltd provide is on the peak in giving repairement services </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-offset-1 col-md-2 hidden-sm">
                        <div class="footer-wrapper mb-30">
                            <h2 class="footer-section">link</h2>
                            <ul class="footer-menu">
                                <li>
                                    <a href="index.html#">Our Company</a>
                                </li>
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                                <li>
                                    <a href="/about">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-wrapper mb-30">
                            <h2 class="footer-section">address</h2>
                            <ul class="footer-link">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>Kigali Rwanda Iposta</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-open"></i>
                                    <span>(+250) 78716 - 5015</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-open"></i>
                                    <span>aime.thierry97@gmail.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span>Sat - Fry: 9:00 am- 2:00pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top-area-end -->
        <!-- footer-bottom-area-start -->
        <div class="footer-bottom-area gray-bg-1 ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="copyright">
                            <p>Copyright © 2017
                                <a href="index.html#">Hmend</a> All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-icon">
                            <a href="index.html#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-vimeo"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-tumblr"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a href="index.html#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom-area-end -->
    </footer>
    <!-- all js here -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'assets/js/ajax-mail.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>