  {% extends "base.html" %}
  {% load static %} 
  {% block content %}
  <!-- slider-area-start -->
    <div class="slider-area">
        <div class="slider-wrapper ptb-250" style="background-image:url({% static 'assets/img/slider/1.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6 pr-0">
                        <div class="slider-text">
                            <h2 class="cd-headline loading-bar" style="color:rgb(236, 59, 5)">We are here for you don't
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">.</b>
                                    <b>Wait.</b>
                                    <b>Call us</b>
                                </span>
                            </h2>
                            <div class="slider-info">
                                <p>Asco-ltd provide is on the peak in giving repairement services  </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end -->
    <!-- what-we-do-start -->
    <div class="what-we-do ptb-120">
        <div class="container">
            <div class="section-title mb-60 text-center" style="background-image:url({% static 'assets/img/logo/section.png' %})">
                <h4>Our Company</h4>
                <h2>What We Do</h2>
            </div>
            <div class="row">
                <div class="col-md-6 p-r">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="offer-tab" role="tablist">
                            <li role="presentation" class="active">
                                <a href="index.html#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <div class="offer-list">
                                        <div class="offer-icon">
                                            <i class="flaticon-plus-icon"></i>
                                        </div>
                                        <div class="offer-text">
                                            <span>Computer Repair</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="index.html#profile" aria-controls="home" role="tab" data-toggle="tab">
                                    <div class="offer-list">
                                        <div class="offer-icon">
                                            <i class="flaticon-gear-icon"></i>
                                        </div>
                                        <div class="offer-text">
                                            <span>Phones Repair</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="index.html#messages" aria-controls="home" role="tab" data-toggle="tab">
                                    <div class="offer-list">
                                        <div class="offer-icon">
                                            <i class="flaticon-paint-brush"></i>
                                        </div>
                                        <div class="offer-text">
                                            <span>Computer Maintaince</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="index.html#settings" aria-controls="home" role="tab" data-toggle="tab">
                                    <div class="offer-list">
                                        <div class="offer-icon">
                                            <i class="flaticon-strategy-icon"></i>
                                        </div>
                                        <div class="offer-text">
                                            <span>Software Development</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 p-t">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="offer-wrapper" style="background-image:url({% static 'assets/img/tab/1.jpg' %})">
                                <div class="offer-content">
                                    <p>Asco-ltd provide all servces releted to electronics including
                                        computer the following
                                    </p>
                                    <ul class="tab-menu">
                                        <li>Computer Maintainance</li>
                                        <li>Phones Maintainance</li>
                                        <li> Software Development</li>
                                        <li> Software Development Training</li>
                                      
                                    </ul>
                                    <a href="/contact">contact now</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="offer-wrapper" style="background-image:url({% static 'assets/img/tab/2.jpg'%})">
                                <div class="offer-content">
                                    <p>Asco-ltd provide all servces releted to electronics including computer the following
                                    </p>
                                    <ul class="tab-menu">
                                        <li>Computer Maintainance</li>
                                        <li>Phones Maintainance</li>
                                        <li> Software Development</li>
                                        <li> Software Development Training</li>
                                
                                    </ul>
                                    <a href="/contact">contact now</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div class="offer-wrapper" style="background-image:url(assets/img/tab/3.jpg)">
                                <div class="offer-content">
                                    <div class="offer-content">
                                        <p>Asco-ltd provide all servces releted to electronics including computer the following
                                        </p>
                                        <ul class="tab-menu">
                                            <li>Computer Maintainance</li>
                                            <li>Phones Maintainance</li>
                                            <li> Software Development</li>
                                            <li> Software Development Training</li>
                                    
                                        </ul>
                                        <a href="/contact">contact now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <div class="offer-wrapper" style="background-image:url(assets/img/tab/4.jpg)">
                                <div class="offer-content">
                                <div class="offer-content">
                                    <p>Asco-ltd provide all servces releted to electronics including computer the following
                                    </p>
                                    <ul class="tab-menu">
                                        <li>Computer Maintainance</li>
                                        <li>Phones Maintainance</li>
                                        <li> Software Development</li>
                                        <li> Software Development Training</li>
                                
                                    </ul>
                                    <a href="/contact">contact now</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- what-we-do-end -->
    <!-- home-service-start -->
    <div class="home-service-area gray-bg">
        <div class="col-md-6 p-0 col-xs-12">
            <div class="home-service-wrapper ptb-120" style="background-image:url({% static 'assets/img/service/1.jpg' %})">
                <div class="home-content">
                    <h3>We are Live 24/7
                        <br> hours open.</h3>
                    <div class="content">
                        <h4>Contact Us :</h4>
                        <p>+250-78716-015
                            <br> aime.thierry97@gmail.com</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 p-0 col-xs-12">
            <div class="home-area-right">
                <div class="home-section">
                    <h3>We Are Carefully &  On Your Electronic</h3>
                    <div class="homes-info">
                        <p>Asco-ltd is very carefully on the clients electronics in order to satisfy clients 
                            items
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="home-wrapper mb-20">
                            <div class="home-text">
                                <p>Asco-ltd is very carefully and fast on the clients order </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="home-wrapper mb-20">
                            <div class="home-text">
                                <p>sco-ltd can even come where you want them </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-20">
                        <div class="home-wrapper">
                            <div class="home-text">
                                <p>Lorem ipsum dolor sit amet consect adipisicing elit sed. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-20">
                        <div class="home-wrapper">
                            <div class="home-text">
                                <p>Lorem ipsum dolor sit amet consect adipisicing elit sed. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home-service-end -->
    <!-- our-service-area-start -->
    <div class="our-service-area pt-120 pb-90">
        <div class="container">
            <div class="section-title mb-60 text-center" style="background-image:url(assets/img/logo/section.png)">
                <h4>We Provide</h4>
                <h2>Our Services</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper mb-30">
                        <div class="service-img">
                            <img src="{% static  'assets/img/service/service-3.jpeg' %}" alt="" />
                        </div>
                        <div class="service-text text-center">
                            <div class="service-icon-img">
                                <i class="flaticon-house-icon"></i>
                            </div>
                            <h2>
                                <a href="service-details.html">Wall Paintings</a>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consj ectetulor adipisicing elit, sed do eiusmod tempor </p>
                            <a href="service-details.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper mb-30">
                        <div class="service-img">
                            <img src="{% static 'assets/img/service/service-1.jpg' %}" alt="" />
                        </div>
                        <div class="service-text text-center">
                            <div class="service-icon-img">
                                <i class="flaticon-house-icon"></i>
                            </div>
                            <h2>
                                <a href="service-details.html">Furniture Moving</a>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consj ectetulor adipisicing elit, sed do eiusmod tempor </p>
                            <a href="service-details.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm">
                    <div class="service-wrapper mb-30">
                        <div class="service-img">
                            <img src="{% static 'assets/img/service/service-2.jpg' %}" alt="" />
                        </div>
                        <div class="service-text text-center">
                            <div class="service-icon-img">
                                <i class="flaticon-house-icon"></i>
                            </div>
                            <h2>
                                <a href="service-details.html">Kitchen Counter</a>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consj ectetulor adipisicing elit, sed do eiusmod tempor </p>
                            <a href="service-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our-service-area-end -->
    <!-- testimonial-1-area-start -->
    <div class="testimonial-1-area pt-120 pb-200 gray-bg">
        <div class="container">
            <div class="section-title text-center" style="background-image:url(assets/img/logo/section.png)">
                <h4>Testimonial</h4>
                <h2>What Clients Say</h2>
            </div>
        </div>
    </div>
    <!-- testimonial-1-area-end -->
    <!-- testimonial-area-start -->
    <div class="testimonial-area">
        <div class="container">
            <div class="row">
                <div class="testimonial-active owl-carousel">
                    <div class="col-md-12">
                        <div class="testimonial-wrapper mb-30">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/1.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Handy Man</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="testimonial-wrapper mb-30">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/2.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Maksud Reza</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="testimonial-wrapper mb-30">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/3.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Miller Ko</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/4.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Maksud Reza</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/1.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Jon Frank</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/2.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Maksud Reza</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-img text-center">
                                <img src="{% static 'assets/img/testimonial/3.jpg' %}" alt="" />
                            </div>
                            <div class="testimonial-text text-center">
                                <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt
                                    ut labore et dolore. </p>
                                <span>Jon Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area-end -->
    
    <!-- blog-area-start -->
    <div class="blog-area pt-120 pb-90">
        <div class="container">
            <div class="section-title mb-60 text-center" style="background-image:url(assets/img/logo/section.png)">
                <h4>blog</h4>
                <h2>Latest News</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="blog-wrapper mb-30">
                        <div class="blog-img">
                            <a href="index.html#">
                                <img src="{% static 'assets/img/blog/service-1.jpg' %}" alt="" />
                            </a>
                        </div>
                        <div class="blog-text">
                            <div class="blog-info">
                                <h3>
                                    <a href="index.html#">Lorem ipsum dolor sit amet conse.</a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet con adipisic elit sed do eiusmod tel incididunt ut lab et dolore
                                    mag aliqua.</p>
                            </div>
                            <div class="blog-date">
                                <span>
                                    <i class="fa fa-clock-o"></i>14 Sep, 2017</span>
                                <span>
                                    <i class="fa fa-heart"></i>20 like</span>
                                <span>
                                    <i class="fa fa-comment"></i>0 comments</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-wrapper mb-30">
                        <div class="blog-img">
                            <a href="index.html#">
                                <img src="{% static 'assets/img/blog/service-2.jpg' %}" alt="" />
                            </a>
                        </div>
                        <div class="blog-text">
                            <div class="blog-info">
                                <h3>
                                    <a href="index.html#">Lorem ipsum dolor sit amet conse.</a>
                                </h3>
                                <p>We have managed to repaire mor</p>
                            </div>
                            <div class="blog-date">
                                <span>
                                    <i class="fa fa-clock-o"></i>14 Sep, 2017</span>
                                <span>
                                    <i class="fa fa-heart"></i>20 like</span>
                                <span>
                                    <i class="fa fa-comment"></i>0 comments</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm">
                    <div class="blog-wrapper mb-30">
                        <div class="blog-img">
                            <a href="index.html#">
                                <img src="{% static 'assets/img/blog/service-3.jpg' %}" alt="" />
                            </a>
                        </div>
                        <div class="blog-text">
                            <div class="blog-info">
                                <h3>
                                    <a href="index.html#">Asco-ltd</a>
                                </h3>
                                <p>Asco-ltd provide is on the peak in giving repairement services</p>
                            </div>
                            <div class="blog-date">
                                <span>
                                    <i class="fa fa-clock-o"></i>14 Sep, 2017</span>
                                <span>
                                    <i class="fa fa-heart"></i>20 like</span>
                                <span>
                                    <i class="fa fa-comment"></i>0 comments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-area-start -->
    {% endblock %}